.modal{
    @apply fixed w-full h-full z-10 top-0 left-0 bg-slate-950/25 pt-28 overflow-auto
}

.modal-content{
    @apply font-sans relative bg-lime-200 w-3/4 m-auto p-5 rounded flex place-content-center
}

.close-button{
    @apply font-sans absolute -top-2 right-0 w-5 text-xl font-bold m-0
}